<div style="text-align: center;">
  <h1>
    <strong>{{!service.formData.id ? 'New Invoice' : 'Update Invoice'}}</strong>
  </h1>
</div>
<div id="container">
  <br />

  <form #form="ngForm" (submit)="insertRecord(form)" autocomplete="off">
    <input
      type="hidden"
      name="id"
      #id="ngModel"
      [(ngModel)]="service.formData.id"
    />

    <div class="row">
      <div class="col-md-4">
        <label>Invoice Number</label>
        <input
          matInput
          required
          name="invoiceNumber"
          #invoiceNumber="ngModel"
          [(ngModel)]="service.formData.invoiceNumber"
          class="form-control"
        />
        <mat-error *ngIf="invoiceNumber.invalid && invoiceNumber.touched"
          >This field required</mat-error
        >
      </div>
      <div class="col-md-4">
        <label>Customer Name</label>
        <input
          matInput
          required
          name="customerName"
          #customerName="ngModel"
          class="form-control"
          [(ngModel)]="service.formData.customerName"
        />
        <mat-error *ngIf="customerName.invalid && customerName.touched"
          >This field required</mat-error
        >
      </div>
      <div class="col-md-4">
        <label>Transaction Date</label>
        <input
          matInput
          required
          type="datetime-local"
          name="transactionDate"
          #transactionDate="ngModel"
          class="form-control"
          [(ngModel)]="service.formData.transactionDate"
        />
        <mat-error *ngIf="transactionDate.invalid && transactionDate.touched"
          >This field required</mat-error
        >
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <select
          name="product"
          class="form-control"
          (change)="selectProduct($event)"
        >
          <option disabled selected>Select Product</option>
          <option
            *ngFor="let product of productService.list"
            value="{{product.id}}"
            >{{product.productName}}</option
          >
        </select>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead class="bg-dark text-light">
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Product Name</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Stock Quantity</th>
              <th scope="col">Cost Price</th>
              <th scope="col">Selling Price</th>
              <th scope="col">quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of service.selectedProducts">
              <th scope="row">{{product.code}}</th>
              <td>{{product.productName}}</td>
              <td>{{product.category}}</td>
              <td>{{product.description}}</td>
              <td>{{product.quantity}}</td>
              <td>{{product.costPrice}}</td>
              <td>{{product.sellingPrice}}</td>
              <td>
                <input
                  class="form-control"
                  required
                  name="{{product.id}}"
                  (input)="selectQuantity($event.target)"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Tatal Amount:</h2>
        <input
          required
          name="totalAmount"
          #totalAmount="ngModel"
          [(ngModel)]="service.formData.totalAmount"
          class="form-control"
        />
      </div>
      <div class="col-md-4"></div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-6">
            <label>Discount %</label>
            <input
              matInput
              required
              class="form-control"
              (input)="calcDiscount($event.target)"
            />
          </div>
          <div class="col-md-6">
            <label>Amount</label>
            <input
              matInput
              required
              name="discount"
              #discount="ngModel"
              [(ngModel)]="service.formData.discount"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label>Discounted Amount</label>
        <input
          matInput
          required
          value="{{discountedAmount}}"
          class="form-control"
          disabled
        />
      </div>
      <div class="col-md-3">
        <label>Cash</label>
        <input
          required
          class="form-control"
          (input)="calcbalence($event.target)"
        />
      </div>
      <div class="col-md-3">
        <label>Balance</label>
        <input
          class="form-control"
          name="balance"
          #balance="ngModel"
          [(ngModel)]="service.formData.balance"
          value="150"
        />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <div class="input-group-prepend">
          <button
            type="submit"
            [disabled]="form.invalid"
            class="card-link btn btn-sm btn-outline-info ybtn"
            *ngIf="service.formData.id==null;"
          >
            Create
          </button>
          <button
            type="button"
            (click)="updateRecord(form)"
            [disabled]="form.invalid"
            class="card-link btn btn-sm btn-outline-info ybtn"
            *ngIf="service.formData.id!=null;"
          >
            save
          </button>
        </div>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3">
        <button
          type="button"
          class="card-link btn btn-sm btn-outline-danger ybtn"
          [mat-dialog-close]
        >
          CLOSE
        </button>
      </div>
    </div>
    <div class="col-md-12">
      <div class="input-group-prepend">
        <!-- <button type="button" class="card-link btn btn-sm btn-outline-danger ybtn" *ngIf="service.formData.Id!=null;" style ="margin-left: 45%;" (click)="downloadPDFBtn()">
            Download Details
             <mat-icon>save_alt</mat-icon>
      </button> -->
      </div>
    </div>
  </form>
</div>
