<div style="text-align: center;">
  <h1>
    <strong>{{!service.formData.id ? 'New Invoice' : 'Update Invoice'}}</strong>
  </h1>
</div>

<br />

<form #form="ngForm" (submit)="insertRecord(form)" autocomplete="off">
  <input
    type="hidden"
    name="id"
    #id="ngModel"
    [(ngModel)]="service.formData.id"
  />

  <div class="row">
    <div class="col-md-4">
      <label>Invoice Number</label>
      <input
        matInput
        required
        name="invoiceNumber"
        #invoiceNumber="ngModel"
        [(ngModel)]="service.formData.invoiceNumber"
        class="form-control"
      />
      <mat-error *ngIf="invoiceNumber.invalid && invoiceNumber.touched"
        >This field required</mat-error
      >
    </div>
    <div class="col-md-4">
      <label>Customer Name</label>
      <input
        matInput
        required
        name="customerName"
        #customerName="ngModel"
        class="form-control"
        [(ngModel)]="service.formData.customerName"
      />
      <mat-error *ngIf="customerName.invalid && customerName.touched"
        >This field required</mat-error
      >
    </div>
    <div class="col-md-4">
      <label>Transaction Date</label>
      <input
        matInput
        required
        type="date"
        name="transactionDate"
        #transactionDate="ngModel"
        class="form-control"
        [(ngModel)]="service.formData.transactionDate"
      />
      <mat-error *ngIf="transactionDate.invalid && transactionDate.touched"
        >This field required</mat-error
      >
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <input
        type="text"
        name="product"
        id="productInput"
        [(ngModel)]="selectedValue"
        (change)="selectProduct()"
        list="products"
        placeholder="Select your User account Type here"
        required="required"
        class="form-control"
      />
      <datalist id="products">
        <option
          *ngFor="let invoiceProuct of service.listInvoiceProuct"
          [ngValue]="{{invoiceProuct.id}}"
          >{{invoiceProuct.productName}}</option
        >
      </datalist>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Product Name</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Stock Quantity</th>
            <th scope="col">Cost Price</th>
            <th scope="col">Selling Price</th>
            <th scope="col">quantity</th>
            <th scope="col">Line Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">test</th>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>
              <input
                class="form-control"
                matInput
                required
                name="quantity"
                #quantity="ngModel"
                [(ngModel)]="service.formData.quantity"
              />
              <mat-error *ngIf="quantity.invalid && quantity.touched"
                >This field required</mat-error
              >
              <!-- <button
                (click)="populateForm(invoice)"
                class="card-link btn btn-sm btn-outline-success"
                matTooltip="click to edit this ivoice's details"
              >
                <mat-icon>open_in_new</mat-icon>
              </button>
              <button
                class="btn btn-sm btn-outline-danger"
                (click)="onDelete(invoice.id)"
                matTooltip="click to delete this invoice"
              >
                <mat-icon>delete</mat-icon>
              </button> -->
            </td>
            <td>test</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Total Amount: 1000</h2>
    </div>
    <div class="col-md-4"></div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <label>Discount</label>
      <input
        matInput
        required
        name="discount"
        #invoiceNumber="ngModel"
        [(ngModel)]="service.formData.discount"
        class="form-control"
      />
    </div>
    <div class="col-md-4">
      <label>Cash</label>
      <input matInput required name="cash" class="form-control" />
    </div>
    <div class="col-md-4">
      <label>Balence</label>
      <input
        matInput
        required
        name="balence"
        class="form-control"
        disabled
        value="150"
      />
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="input-group-prepend">
        <button
          type="submit"
          [disabled]="form.invalid"
          class="card-link btn btn-sm btn-outline-info ybtn"
          *ngIf="service.formData.id==null;"
        >
          Create
        </button>
        <button
          type="button"
          (click)="updateRecord(form)"
          [disabled]="form.invalid"
          class="card-link btn btn-sm btn-outline-info ybtn"
          *ngIf="service.formData.id!=null;"
        >
          save
        </button>
      </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <button
        type="button"
        class="card-link btn btn-sm btn-outline-danger ybtn"
        [mat-dialog-close]
      >
        CLOSE
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <div class="input-group-prepend">
      <!-- <button type="button" class="card-link btn btn-sm btn-outline-danger ybtn" *ngIf="service.formData.Id!=null;" style ="margin-left: 45%;" (click)="downloadPDFBtn()">
            Download Details
             <mat-icon>save_alt</mat-icon>
      </button> -->
    </div>
  </div>
</form>
